# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Build
build/
dist/
*.spec

# Package
*.deb

# Temporary outputs
tmp/*
!tmp/.gitkeep

# Backups
backup/
*.bak

# Environment / IDE
.vscode/
.idea/
*.swp

# Config directories
~/
